@import url('https://fonts.cdnfonts.com/css/bauhaus-93');
.main{
  overflow-x:hidden;
  width: 100%;
  margin: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


body{
  background-color: #fafaff;
  font-size: 12px;
 width: 100%;
  margin: 0;
}

header{
  width: 1158px;
  margin: 0 auto;
  /* height: 100vh; */
}
.mvc{
  margin: 0 auto;
}
a{color: #2bb1f3;}
.mv{
  font-family: 'Bauhaus 93', sans-serif;  
  font-size: 100px;
  width: 70%;
  margin: 150px auto;
  position:relative;                            
}
.blcircle > img{
  width: 20px;
}
.mcolor-text{
background: #0C9DE4;
background: linear-gradient(to right, #0C9DE4 12%, #094198 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: #252525;
text-shadow: 0px 0px 21px rgba(12, 156, 228, 0.378);

}
.uni{
color: gray;  
}
.wcircle{
  width: 131px;
height: 131px;
flex-shrink: 0;
border-radius: 131px;
background: #ededed;
box-shadow: -11px 11px 146px 0px #D4E6EF;
position:relative;
}
.bwcircle{
  width: 241px;
height: 241px;
flex-shrink: 0;
border-radius: 541px;
background: #fafafa;
box-shadow: -0px 11px 146px 0px #D4E6EF;
position:absolute;
}
.bcircle2 {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border-radius: 121px;
  background: rgb(12,157,228);
  background: linear-gradient(90deg, rgba(12,157,228,1) 0%, rgba(9,65,152,1) 100%);
  box-shadow: 0px 11px 61px rgba(12,157,228,0.33);
  position: absolute;

}
.blcircle{
   background-color: #272727;
   width: 36px;
   height: 36px;
   border-radius: 50px;
   box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.216);
   margin:0 auto;
}

.one {
  top: -66px;
  left: 89%;
  z-index: -1;
  position:absolute;
}
.two {
  top: 83px;
  right: 73%;
  z-index: -1;
  position: absolute;
}
.three {
  right: 95%;
  top: 399px;
  z-index: 0;
  position: absolute;
}
.four {
  left: 89%;
  top: 370px;
  z-index: -1;
  position: absolute;
}
.five {
  left: 89%;
  top: 800px;
  z-index: -1;
  position: absolute;
}
.six {
  width: 180px !important;
  height: 180px !important;
  border-radius: 180px !important;
  right: 98%;
  top: 1080px;
  z-index: -1;
  position: absolute;
}
.eight {
  right: 80%;
  width: 200px;
  height: 200px;
  z-index: -1;
  position: absolute;
}
.seven {
  left: 98%;
  width: 180px !important;
  height: 180px !important;
 
  position: absolute;
}
.nine {
  right: 98%;
  z-index: -1;
 
  position: absolute;
}
.ten {
  width: 160px !important;
  height: 160px !important;
  left: 95%;
  /* top: 570px; */
  z-index: -1;
  position: absolute;
}
.eleven {
  width: 160px !important;
  height: 160px !important;
  right: 90%;
  /* top: 570px; */
  z-index: -1;
  position: absolute;
}

.bcircle {
  width: 196px;
  height: 196px;
  flex-shrink: 0;
  border-radius: 121px;
  background: rgb(12,157,228);
  background: linear-gradient(90deg, rgba(12,157,228,1) 0%, rgba(9,65,152,1) 100%);
  box-shadow: 0px 11px 61px rgba(12,157,228,0.33);
  position: absolute;
  overflow: hidden;
}
.bcircle2 {
    width: 91px;
    height:91px;
    flex-shrink: 0;
    border-radius: 121px;
    background: rgb(12,157,228);
    background: linear-gradient(90deg, rgba(12,157,228,1) 0%, rgba(9,65,152,1) 100%);
    box-shadow: 0px 11px 61px rgba(12,157,228,0.33);
    overflow: hidden;
    position: absolute;
}
.bcircle3 {
    width: 231px;
    height:231px;
    flex-shrink: 0;
    border-radius: 221px;
    background: rgb(12,157,228);
    background: linear-gradient(90deg, rgba(12,157,228,1) 0%, rgba(9,65,152,1) 100%);
    box-shadow: 0px 11px 61px rgba(12,157,228,0.33);
    position: absolute;
    overflow: hidden;
}
.ccircle{
  width: 51px;
height: 51px;
flex-shrink: 0;
border-radius: 71px;
background: rgb(12,157,228);
background: linear-gradient(173deg, rgb(255, 255, 255) 0%,rgb(209, 209, 209) 100%);
box-shadow: 0px 31px 91px rgba(210, 240, 255, 0.33);
position:absolute;
overflow: hidden;
} 
.mn{
  position: relative;
  margin:100px auto;
  width: 80%;
  max-width: 835px;
border-radius: 10px;
  background-color: #ffff;
  /* font-family: "ヒラギノ丸ゴ", "Hiragino Kaku Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
.service {
  width: 80%;
  margin: 0px auto;
  padding-top: 20px;
  max-width: 600px;
  margin-bottom: 50px;
}
.cards{
  display: flex;
  justify-content: space-between;
}
.card{
  width: 30%;
  height: 223px;
  margin-top: 50px;
  box-shadow: 0px 1px 21px rgba(183, 183, 183, 0.23);
  border-radius: 10px;
  margin-bottom: 20px;
}
.lcard {
  /* width: 30%; */
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  height: 223px;
  margin-top: 50px;
  /* box-shadow: 0px 1px 21px #31e8ff40; */
  border-radius: 10px;
  margin-bottom: 20px;
}
.num{
  margin:-20px auto;
  width: 40px;
  height: 40px;
  text-align: center;
  color:#fff;
  font-size: 20px;
  line-height: 2;
  background: rgb(12,157,228);
box-shadow: 0px 2px 11px rgba(12, 156, 228, 0.45);
border-radius: 40px;
}
.c-h{
  text-align: center;
  font-weight: 900;
  margin-top: 10px;
}
.c-txt{
 font-size: 0.5rem;
  text-align: center;
  margin-top: 10px;
}
.h3 {
  background: #0C9DE4;
  background: linear-gradient(to right, #0C9DE4 12%, #094198 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: ui-sans-serif;
  text-shadow: 0px 5px 11px rgba(12, 156, 228, 0.287);
  font-weight: bold;
}
.textl{
  text-align:right;
  margin-top: 10;
}
.my-class  {
  overflow: auto;
  width: 100%;
}
.my-class table {
  margin: 0 auto;
  height: 100%;
  width: 90%;
  table-layout: fixed;
  margin-left: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}
.my-class caption {
  caption-side: top;
  text-align: left;
}
.my-class th {
  background-color: #FFFFFF;
  /* padding: 20px; */
  text-align: center;
  padding-top: 43px;
}
.my-class td {
  border: 2px solid #D9D9D9;
  color: #000000;
  
}
tr{
  height: 60px;
}
.borderhed{
  border: none;
}
thead{
  border: 0px;
}
.sidehed {
  border: 0px !important;
  /* font-size: 17px; */
  text-align: right;
  font-size: 15px;
  /* padding: 0px !important; */

  padding-right: 5px;
}
.chekmark {
  margin-top: 29%;
  margin-left: 8px;
}
.c-img{
  width:84px;
  margin:0 auto;
  margin-top: 20px; 
}
.name {
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bold;
}
.p-text{
 color:#747474;
 line-height:2;
 height: fit-content;
}
.sletter {
  font-size: 13px;
}
.center{
  text-align: center;
  font-size: 29px;
  margin-bottom: 15px;
}
.w-text {
  color: gray;
  width: 50%;
  line-height: 2;
}
.w-image{
  width: 43%;
  margin-top: -40px;
}
.w-wrapper{
  display: flex;
  justify-content: space-between;
}
.a-text{
  font-size: 5px;
  color: gray;
  margin-top: 20px;
}
.posts{
  margin-top: -110px;
}
@media screen and (max-width: 759px) {
  .mn{
    width: 90%;
    height: auto;
  }
  header{
  overflow: hidden;
   max-width: 400px;
   margin:0 auto;
   /* height: 90vh; */
  }
  header > img {
    width: 400px;
    margin: 0 auto;
  }
  .w-wrapper {
    display: block;
    
}
.cards {
  display: block;
  justify-content: space-between;
}
.card {
  width: 100%;
  height: 223px;
  margin-top: 50px;
  box-shadow: 0px 1px 21px rgba(183, 183, 183, 0.23);
  border-radius: 10px;
  margin-bottom: 20px;
}
	.wcircle{
    overflow: hidden;
  }
  .bwcircle{
    overflow: hidden;
  }
  .bcircle2 {
    overflow: hidden;
  
  }
  
  .bcircle {
    overflow: hidden;
  }
  .bcircle2 {
    overflow: hidden;
  }
  .bcircle3 {
    overflow: hidden;
  }
  .ccircle{
    overflow: hidden;
  } 
  .my-class table {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}
.my-class th{
  font-size:5px ;
}
tr{
  height: 50px;
}
.seven{
  display: none;
}
.mvc {
  /* margin-top: 60% !important; */
  /* margin: 0 auto; */
  overflow: hidden;
}
.w-image{
  width:fit-content;
  /* margin-top: 50px; */
margin: 0px auto;
justify-content: center;
}
.w-image > img{
  height: 150px;
  width: auto;
  margin:0 auto;
  
}
.sidehed {
  border: 0px !important;
  font-size: 10px;
  text-align: right;
  /* padding-left: 30px !important; */
  /* padding: 0px !important; */
  padding-left: 0px !important;
  padding-right: 5px;
}
.w-text {
  color: gray;
  width: 100%;
}
.lcard {
  border-radius: 10px;
  height: auto;
  margin: 50px auto 20px;
  padding: 20px;
  width: 80%;
}
.blcircle {
  background-color: #272727;
  width: 29px;
  height: 29px;
  border-radius: 50px;
  box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.216);
  margin: 0 auto;
}
.blcircle > img{
  width: 15px;
}
}
.contentWrapper {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}


.content_01{
	clear: both;
	width: 100%;	
	margin-top: 60px;
	margin-bottom: 18px;
}
.content_02{
	display: block;
	clear: both;
	width: 98%;
	margin: 0 1% 0 1%;
	padding: 50px 0;
}
.content_03{
	display: block;
	clear: both;
	width: 98%;
	margin: 0 1% 0 1%;
	padding: 18px 0;
}
.content_04{	
	clear: both;
	width: 100%;	
	margin-top: 60px;
	margin-bottom: 10px;
}

.content_pankuzu{
	display: block;
	clear: both;
	width: 94%;	
	padding: 0px 0 30px 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
.hed{
  text-align: center;
  margin-top: -25px;
}


.content_05_l{
	display: block;
	clear: both;
	width: 100%;	
	margin: 30px 0;
	line-height: 1.8em;
}
.content_05_r{
	display: block;
	/*clear: both;*/
	width: 100%;	
	margin: 50px 0 0 0;
	line-height: 1.8em;
}
.content_06{
	display: block;
	clear: both;
	width: 98%;
	margin: 0 1% 0 1%;
	padding: 0px 0 0px 0;
}
.content_07{
	display: block;
	clear: both;
	width: 98%;
	margin: 0 1% 0 1%;
	padding: 50px 0;
}
.content_08{
	display: block;
	clear: both;
	width: 98%;
	margin: 0 1% 0 1%;
	padding: 50px 0;
}


.back_gray{
	clear: both;
	background-color: #f5f5f5;		
	}
.back_white{
	clear: both;
	background-color: #FFF;		
}

.back_g_t {
	clear: both;
	width: 100%;		
	position: relative;
	display: inline-block;
	background: #f5f5f5;
}
.back_w_t {
	clear: both;
	width: 100%;		
	position: relative;
	display: inline-block;
	background: #f5f5f5;
}
.back_g_t_02 {
	clear: both;
	width: 100%;		
	position: relative;
	display: inline-block;
	background: #f5f5f5;
}



/* デスクトップレイアウト : 769 px ～最大 1100 px。モバイルレイアウトとからスタイルを継承。 */
@media screen and (max-width: 759px) {
	.contentWrapper {
		width: 88.2%;
	max-width: 1100px;
	padding-left: 0%;
	padding-right: 0%;
	margin: auto;
	}
	
	.content_01{
		margin-top: 87px;
		margin-bottom: 50px;
		width: 100%;
	}
	.content_02{
		clear: both;
		width: 100%;
		padding: 98px 0;
	}
	.content_03{
		clear: both;
		width: 100%;
		padding: 60px 0 0 0;
	}
	.content_04{
		margin-top: 87px;
		margin-bottom: 10px;
		width: 100%;
	}
	.content_pankuzu{
		clear: both;		
		width: 100%;
		padding: 10px 0 50px 0;
		margin: 0;
	}
	.content_05_l{		
		width: 70%;
		float: left;
		margin: 0;
	}
	.content_05_r{
		width: 25%;
		float: right;
		margin: 0;
	}
	.content_06{
		clear: both;
		width: 100%;
		padding: 20px 0 0 0;
	}
	.content_07{
		clear: both;
		width: 100%;
		padding: 60px 0;
	}
	.content_08{
		clear: both;
		width: 100%;
		padding: 98px 0 60px 0;
	}
	
	
	.back_gray{
		background-color: #f5f5f5;
	}
	
	.back_g_t {
		width: 100%;		
		position: relative;
		display: inline-block;
		background: #f5f5f5;
		margin-bottom: 0px;
	}

	.back_g_t::before{
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -20px;
		border: 20px solid transparent;
		border-top: 20px solid #f5f5f5;
	}
}
	
.modalOverlay{
  font-size: 15px !important;
  left: 50%;
  margin-top: 10px;
}
.modalF {
  min-height: 300px;
  text-align: left;
  width: 95%;
  overflow-x: hidden;
  max-width: 1390px;
  background-color: white;
  border-radius: 5px;
}
.modalP {
  min-height: 300px;
  text-align: left;
  width: 70%;
  
  overflow-x: hidden;
  max-width: 1390px;
  border: 2px solid #aaaaaa16;
  /* background-color: rgba(255, 255, 255, 0.18);
   */
   background-color: #ffffff;
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(60px);
  border-radius: 10px;
}
.modalOverlay {
  margin:0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(123, 123, 123, 0.421);
  z-index: 1;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex; /* flexbox を使用して中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  justify-content: center; /* 水平方向に中央揃え */
  z-index: 1;
}
.modalOverlayP {
  margin:0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  display: flex; /* flexbox を使用して中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  justify-content: center; /* 水平方向に中央揃え */
  z-index: 1;
}
.modalOverlay .modal {
  width: 90%;
  max-width: 800px;
  max-height: 700px;
  height: 90%;
  background-color: white;
  border-radius: 30px;
}
.modalOverlay .modal .modalContent {
  padding: 30px;
  min-height: 690px;
}
.modalOverlay .modal .modalContent .ima {
  width: auto;
  margin: 0 auto;
}
.modalOverlay .modal .modalContent .ima .modalh4 {
  padding-top: 10%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.modalOverlay .modal .modalContent .modalMain {
  padding: 20px;
}
.modalOverlay .modal .modalContent .modalMain .modalText {
  overflow-y: scroll;
  max-height: 200px;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6;
  color: rgb(67, 67, 67);
}
.modalOverlay .modal .modalContent .modalMain .modalText::-webkit-scrollbar {
  height: 10px;
}
.modalOverlay .modal .modalContent .button {
  font-size: 15px !important;
  width: 150px;
  border-radius: 10px !important;
  height: 30px !important;
  left: 50%;
  margin-top: 10px;
}



.cmodal .chead {
  display: block;
  align-items: center;
  text-align: center;
  padding: 30px;
  padding-top: 0px;
}
.cmodal .chead .f {
  display: inline-flex;
}
.cmodal .chead .f img {
  width: 30%;
}
.cmodal .chead .f h2 {
  width: 70%;
}
.cmodal .chead .description {
  font-size: 17px;
  color: #454545;
}
.cmodal::-webkit-scrollbar {
  height: 10px;
}
.imgX{
  margin-left:10px ;
}
.btnWrap{
  display: flex;
  width: 342px;
    margin: 0 auto;
    justify-content: space-around;
}

.btn{
  background-color: #00000000;
  border: 1.5px solid #c7c7c7;
  color: #c7c7c7;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}
.active{
  background: #0C9DE4;
  background: linear-gradient(153deg,#78eaff,#00bfff);
  box-shadow: 0 3px 10px 0 rgba(0,176,235,.32);
  /* border: 1.5px solid #66666635; */
  color: #ffffff;
  padding: 6.5px;
  border-radius: 5px;
  margin: 5px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.slideT{  
  border-collapse: collapse;
  
 
  margin: 40px auto;
}
.slideT  .bottom{
  border-bottom:2px dotted #dadada;
}
.slideT > tr{
  height: 100px;
}

.left{
  border-left:2px dotted #dadada ;
}
.right{
  border-right:1px dotted #dadada ;
}

td > img{
  width: 550px;
}
@media screen and (max-width: 959px) {
  td > img{
    width: 360px;
  }
}
@media screen and (max-width: 759px) {
  td > img{
    width: 189px;
  }
}
.ntext{
  margin-top: -25px;
}


.history{
 background-color: #c9f1fa63;
 border:solid 1px #ffffff67;
 width: 90%;
 max-width: 600px;
 border-radius: 20px;
 margin: 0 auto;
 box-shadow: 0px 1px 21px #0000001c;
 height: 170px;
 padding-bottom: 10px;
}
.dwrap{
  display: flex;
}
.dot{
  text-align: center;
  width: 30%;
  z-index: 2;
  position: relative;
  text-align: center;
    width: 30%;
    z-index: 2;
    margin-top: 16px;
    padding-top: 10px;
    position: relative;
}
.year{
  color: #0C9DE4;
  font-weight: bold;
  font-size: 1rem;
}
.dtxt{
  color: #868686;
  font-size: 10px;
}
hr{
  margin-top:50px;
  /* border-color:#32B68C; */
  border: 7px solid #5fc7ff ;
  border-radius: 15px;
  width: 80%;
  position: relative;
  top:-121px;
}
.dot > img{
 width: 62px;
}
@media screen and (max-width: 759px) {
  .modalP{
    height: 593px;
    width: 95%;
    overflow: hidden;
  }
  .dot > img{
    width: 45px;
   }
  .dot br{
    display: none;
   }
  .dot{
    width: 80%;
    display: flex;
    margin: 0 auto;
    line-height: 42px;
  }
   hr{
    margin-top:50px;
    /* border-color:#32B68C; */
    border: 5px solid #5fc7ff ;
    border-radius: 15px;
    width: 80%;
    position: relative;
    
  }
  .dtxt{
    color: #868686;
    font-size: 8px;
  }
  .year{
    color: #0C9DE4;
    font-weight: bold;
    font-size: 10px;
  }
  .history{
    width: 90%;
    max-width: 332px;
  }
  .dwrap{
    display: block;
    padding-top: 10px;
    margin: 5px;
  }
  .history{
    height: 290px;
  }
  hr{
    transform: rotate( -90deg );
    top: -189px;
    right: 80px;
    width: 213px

  }
}
.icons{
  justify-content: space-around;
    display: flex;
    width: 181px;
    margin: 10px auto;
}
.icons img{
  justify-content: space-evenly;
}
.want{
  margin-top: 1px;
}
.in{
  margin-top:1px;
}
