body{
    margin: 0px;
    padding: 0px;
  background-color: black;
}
.head-logo {
  font-weight: 100;
  letter-spacing: 3px;
  display: flex;
  width: 300px;
  font-size: 18px;
}
.headul{
  width: 190px;
  list-style-type: none;
}
header{
  color: white;
  font-weight: 100;
  letter-spacing: 3px;
  background-image: url('/public/headerback.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-animation: animationZoom 12s linear 0s infinite;
  animation: animationZoom 12s linear 0s infinite;
}
.App-header nav {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.headul li {
  margin-left: 20px;
  /* width: 50px; */
}

.head-logo {
  margin: 0;
}
.mv{
  width: 85%;
  margin: 100px auto;
}
.mvh1{
  margin-bottom: 0;
  font-size: 104px;
  font-family: Inter;
  font-weight: 900;
}
span{
  color: #FFE101;
}
.mvtxt{
  margin-top: -25px;
  letter-spacing: 9px;
  
}
 div < .mvtxt {
  margin-bottom: 15px;
  
}
.mvbtm {
  font-size: 25px;
  height: 100px;
  width: 100px;
  text-align: center;
}
/* .bottmye{
  width: 100%;
  height: 10%;
  background-color: #FFE101;
  transform: skewY(-10deg);
  overflow: hidden;
} */
.bottmye {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 156px solid #FFE101;
  border-left: 100vw solid transparent;
}

/* .bottmye::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 100px solid #FFE101;
} */